#booking-header {
  height: 5vh;
}

.booking-hr {
  height: 5px;
  width: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

#booking-price-container, #booking-policy-container, #booking-spot-photo-container, #booking-spot-address-container {
  padding-left: 15vw;
  padding-right: 15vw;
}

#booking-spot-container {
  height: 30vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

#booking-price-container {
  height: 20vh;
}

#booking-policy-container {
  height: 35vh;
}

#booking-button-container {
  display: flex;
  bottom: 0;
}

#booking-spot-photo-container {
  margin-top: auto;
  margin-bottom: auto;
  align-self: left;
}

#booking-spot-address-container {
  margin-top: auto;
  margin-bottom: auto;
  align-self: left;
}

#booking-spot-photo {
  height: 16vh;
  width: 16vh;
  border-radius: 5%;
}

#booking-price-table {
  width: 70vw;
  padding-top: 3vh;
}

#booking-price-table td {
  height: 3vh;
}

.booking-price-table-col2 {
  text-align: right;
}

#booking-price-table-total {
  font-weight: bold;
}

#booking-policy-header {
  font-weight: bold;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
