body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 30px 10px 30px;
  color: #707070;
}

.manage-spots-home {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: flex-start;
}

.add-spot-home {
  /* margin: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  /* align-items: flex-start; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  left: 0;
  right: 0;
  /* text-align: center; */
}

.add-spot-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 1.6em;
}

.add-spot-input {
  padding: 30px 20px;
  margin: 10px 0 20px 0;
  border: 6px solid #cdc4f2;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: medium;
}

.add-spot-photo {
  padding: 22px 20px;
  margin: 0 auto 50px;
  width: 60%;
  height: 300px;
  /* border: 3px solid #cdc4f2; */
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.5em;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-spot-select {
  padding: 22px 20px;
  margin: 10px 0 20px 0;
  border: 6px solid #cdc4f2;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.3em;
  font-weight: bold;
}

.button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 0px;
  padding: 50px 0;
  border-top: 12px solid lightgrey;
}

