

.manage-spots-home {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: flex-start;
  /* height: 60vh; */
}

/* add spot */

.add-spot-home {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: space-between;
  /* align-items: flex-start; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  /* text-align: center; */
}

.add-spot-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 1.6em;
}

.txtBoxInput {
  font-size: 1.3em;
}


.add-spot-input {
  padding: 30px 20px;
  margin: 10px 0 20px 0;
  border: 6px solid #cdc4f2;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: medium;
}

.add-spot-photo {
  /* padding: 22px 20px; */
  margin: 0 auto 50px;
  width: 70%;
  height: 400px;
  /* border: 3px solid #cdc4f2; */
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 1.5em;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 2px 3px grey; */
}

.add-spot-select {
  padding: 20px 20px;
  margin: 10px 0 20px 0;
  border: 3px solid #cdc4f2;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.3em;
  /* font-weight: bold; */
  background-color: white;
}

.button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  /* position: fixed;
  bottom: 0px; */
  margin-top: auto;
  padding: 50px 0;
  /* border-top: 12px solid lightgrey; */
}



/* my spots */

.my-spots-container {
  width: 100%;
  height: 70vh;
}

.spot-card {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 1px 4px grey;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;

}

.spot-card-info {
  font-size: 2em;
  margin-right: 40px;
  margin-left: 40px;
  width: 40%;
}

.spot-list {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.spot-photo {
  border-radius: 15px;
}

.spot-photo img{
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* photo */

.add-spot-image {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.photo-input {
  display: none;
}

.photo-upload {
  padding: 30%;
  cursor: pointer;
}
