#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #CDC4F2;
  left: 0;
  top: 0;
}

/* #background {
  background-color: #CDC4F2;
} */

#login {
  background-position: left 10px top 10px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-image: url(./assets/satellite.png);
}

#name {
  padding-top: 16vh;
  text-align: center;
  font-family: "Baloo Bhaijaan", Helvetica, sans-serif;
  font-size: 7vmax;
  color: white;
  margin-top: 10%;
}